---
import type { HTMLAttributes } from "astro/types";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-center sm:flex-row",
    ]}
  >
    <div class="flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>© {currentYear} 云触角（重庆）科技有限公司版权所有 All rights reserved.</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>ICP备案号：渝ICP备2024029773号</span>
    </div>
    <div class="mt-2 flex flex-col items-center whitespace-nowrap sm:flex-row sm:mt-0 sm:ml-4">
      <span class="mr-4">服务热线：15123869818</span>
      <span>邮箱：29483527@qq.com</span>
    </div>
  </div>
</footer>
